/* Police */

    body {font-family: 'Raleway', sans-serif;}

/* Annulation des styles des liens */

    a {text-decoration: none; color: black ;}
    
/* Styles sur le nav */

    nav {margin-bottom: 70px; margin-right: 2%; min-width: 580px; margin-left: 2%;}

    #logo {width: 85px; position: absolute; top: 30px;}

    #navbuttons {display: flex; justify-content: flex-end;}

    #accomodationnav {font-weight: 500; font-size: 0.9em; margin-right: 50px; padding: 25px 20px 0 20px; border-top: solid white 2px;}
    
    #activities {font-weight: 500; font-size: 0.9em; margin-right: 50px; padding: 25px 20px 0 20px; border-top: solid white 2px;}

    #accomodationnav:hover, #activities:hover {color: #0065FC; border-top: solid 2px #0065FC;}
    
    #subscribe {font-size: 0.9em; font-weight: bold; color: #0065FC; margin-top: 27px}
    #subscribe:hover {color: black}

/* Styles sur h1 */

    h1 {font-weight: bold; font-size: 1.3em;}

/* Styles sur section1 */

    /* Styles sur la zone de recherche */

        #section1 {min-width: 880px; margin-right: 2%; margin-left: 2%;}

        #maintitle {line-height: 0.1em;}

        #catchysentence {font-size: 0.85em;}

        #searcharea {display: flex;}

        .fa-map-marker-alt {background-color: #f2f2f2; border-radius: 13px 0 0 13px; padding-left: 14px; padding-right: 14px; 
            padding-top: 12px;}

        input {border: 1px solid #f2f2f2; font-family: 'Raleway'; font-weight: bold; font-size: 0.9em; ; height: 35px; padding-left: 15px;}

        button {color : white; background-color: #0065FC; font-family: 'Raleway'; font-weight: 600; border: solid 1px #0065FC; 
            border-radius: 0 13px 13px 0; font-size: 0.9em; width: 110px;}

        button:hover {color: #0065FC; background: white; border: 1px solid #f2f2f2;}

        input:focus, button:focus {outline: none;}

    /* Styles sur la zone de filtre + point info*/    

        #filtersarea {margin-top: 30px; margin-bottom: 30px;}
    
        #filters {font-size: 0.9em; font-weight: bold; margin-top: 15px;}
    
        #economic, #family, #romantic, #animals{font-size: 0.9em; font-weight: bold; margin-top: 15px; 
            border-top: 2.5px solid #f2f2f2; border-bottom: 2.5px solid #f2f2f2; border-right: 3px solid #f2f2f2;
            border-radius: 0 25px 25px 0; padding: 12px 20px 10px 33px;}

        .fa-heart, .fa-dog {color: #0065FC; background-color: #DEEBFF ; border-radius: 50%; 
            padding: 14px; position: relative; left: 24px;} 

        .fa-money-bill-wave {color: #0065FC; background-color: #DEEBFF ; border-radius: 50%; 
        padding: 14px 12px; position: relative; left: 24px}

        .fa-child {color: #0065FC; background-color: #DEEBFF ; border-radius: 50%; 
                padding: 14px 17px; position: relative; left: 24px;}

        #economic:hover, #family:hover, #romantic:hover, #animals:hover {background-color: #0065FC; color: white;
             border-bottom: 2.5px solid #0065FC; border-top: 2.5px solid #0065FC; border-right: 3px solid #0065FC;}

        .fa-info {font-size: 10px; color: #0065FC; border: solid 2px #f2f2f2; border-radius: 100%; padding: 4px 7px;}

        #info {font-size: 0.85em; margin-left: 3px;}

/* Styles sur section2 */

    #section2 {display: flex; margin-left: 2%; margin-right: 2%;}

    .fa-star {color: #0065FC;}

    .hostelnames {font-size: 1.1em; font-weight: bold;}

    .euro {font-weight: bold;}

    #more {font-weight: bold; margin-left: 35px; font-size: 1.05em;}
    #more:hover {color: #0065FC;}

    /* Styles sur l'article Hébergements */

        #accomodationarticle {background-color: #f2f2f2; min-width: 843px; height: 610px; margin-right: 35px; margin-top: 10px;
             border-radius: 15px; margin-bottom: 35px;}  
        
        #accomodationtitle {margin-left: 35px; margin-top: 35px; margin-bottom: 25px;}

        #linephotos1 {display: flex; margin-bottom: 30px}

        #linephotos2 {display: flex; margin-bottom: 50px} 

        .framephoto {overflow: hidden; height: 120px; width: 230px;}

        .frametext {line-height: 1.7em; background-color: white; height: 65px; width: 218px; padding-left: 12px; font-size: 0.8em;
            padding-top: 5px;}

        /* Styles sur la première et quatrième image */

            #framephotoandtext1, #framephotoandtext4 {overflow: hidden; border: white solid 4px; border-radius: 17px 17px 17px 17px; margin-left: 40px;
                box-shadow: 0 0 15px #cccccc;}

            #photo1 {width: 260px; position: relative; bottom: 26px; right: 28px;}

            #photo4 {width: 250px; position: relative; bottom: 57px; right: 13px;}

        /* Styles sur la deuxième et cinquième image */

            #framephotoandtext2, #framephotoandtext5 {overflow: hidden; border: white solid 4px; border-radius: 17px 17px 17px 17px; margin-left: 25px;
            margin-right: 25px; box-shadow: 0 0 15px #cccccc;}

            #photo2 {width: 250px; position: relative; bottom: 23px; right: 15px;}

            #photo5 {width: 250px; position: relative; right: 10px; bottom: 15px;}

        /* Styles sur la troisième et sixième image */

            #framephotoandtext3, #framephotoandtext6 {overflow: hidden; border: white solid 4px; border-radius: 17px 17px 17px 17px; margin-right: 40px;
            box-shadow: 0 0 15px #cccccc;}

            #photo3 {width: 245px; position: relative; bottom: 20px; right: 6px;}

            #photo6 {width: 240px; position: relative; bottom: 118px; right: 6px;}
        
    /* Styles sur l'aside Les plus populaires */

        #popular {background-color: #f2f2f2; min-width: 413px; height: 610px; border-radius: 15px; margin-top: 10px;}

        #titlepopular {font-weight: bold; font-size: 1.3em; margin-left: 35px; margin-top: 35px;}
        
        .fa-chart-line {font-weight: bold; font-size: 1.3em; margin-top: 39px; margin-left: 115px;}

        #linephotos3 {display: flex; flex-direction: column;}

        .frametext2 {line-height: 1.7em; background-color: white; height: 132px; width: 218px; padding-left: 20px; font-size: 0.8em;
            padding-top: 5px;}

        .framephotopopular {overflow: hidden; height: 137px; width: 145px;}    

        .popularnight {margin-bottom: 24px;}

        /* Styles sur la première image */

            #framephotoandtext7 {display: flex; overflow: hidden; border: white solid 4px; border-radius: 17px 17px 17px 17px; margin-right: 40px;
            box-shadow: 0 0 15px #cccccc; margin-top: 25px; margin-left: 40px;}

            #photo7 {width: 225px; position: relative; right: 45px; bottom: 5px;}

        /* Styles sur la deuxième image */

            #framephotoandtext8 {display: flex; overflow: hidden; border: white solid 4px; border-radius: 17px 17px 17px 17px; margin-right: 40px;
            box-shadow: 0 0 15px #cccccc; margin-top: 31px; margin-left: 40px;}

            #photo8 {width: 198px; position: relative; right: 36px; bottom: 4px;}

        /* Styles sur la troisième image */

            #framephotoandtext9 {display: flex; overflow: hidden; border: white solid 4px; border-radius: 17px; margin-right: 40px;
            box-shadow: 0 0 15px #cccccc; margin-top: 31px; margin-left: 40px;}

            #photo9 {width: 140px; position: relative; right: 6px; bottom: 36px;}

/* Styles sur la section Activités */

    #section3 {height: 512px; min-width: 1290px; margin-bottom: 25px; margin-left: 2%; margin-right: 2%;}

    #activitiestitle {margin-bottom: 22px;}

    #activitiesphotos {display: flex}

    .frametextactivities {font-weight: bold; height: 20px; padding-left: 15px; font-size: 0.9em; padding-top: 15px; padding-bottom: 10px;}

    /* Styles sur la première et quatrième image */

        #photoactivity1 {width: 640px; position: relative; right: 176px;}

        #photoactivity4 {width: 640px; position: relative; right: 175px; filter: brightness(1.3)}

        .framephotoact1and4 {overflow: hidden; width: 290px; height: 380px;}

        .framephotoandtextact1and4 {overflow: hidden; border-radius: 17px; box-shadow: 0 0 7px #cccccc; margin-right: 50px; margin-bottom: 80px;}

    /* Styles sur la deuxième et troisième image */

        #photoactivity2 {width: 290px; position: relative; bottom: 95px;}

        #framephotoact2 {overflow: hidden; width: 290px; height: 185px;}

        #framephotoandtextact2 {overflow: hidden; border-radius: 17px; box-shadow: 0 0 7px #cccccc; margin-bottom: 42px; margin-right: 50px}

        #photoactivity3 {width: 290px; position: relative; bottom: 15px;}

        #framephotoact3 {overflow: hidden; width: 290px; height: 108px;}

        #framephotoandtextact3 {overflow: hidden; border-radius: 17px; box-shadow: 0 0 7px #cccccc; margin-bottom: 80px; margin-right: 50px}

    /* Styles sur la cinquième et sixième image */

        #photoactivity5 {width: 299px;}

        #framephotoact5 {overflow: hidden; width: 290px; height: 138px;}

        #framephotoandtextact5 {overflow: hidden; border-radius: 17px; box-shadow: 0 0 7px #cccccc; margin-bottom: 42px;}

        #photoactivity6 {width: 295px; position: relative; bottom: 5px; right: 2px; transform: rotate(1deg);}

        #framephotoact6 {overflow: hidden; width: 290px; height: 155px;}

        #framephotoandtextact6 {overflow: hidden; border-radius: 17px; box-shadow: 0 0 7px #cccccc; margin-bottom: 42px;}

/* Styles sur le footer */

    footer {display: flex; min-width: 1340px; height: 175px; background-color: #f2f2f2;}

    .footercolumns {display: flex; flex-direction: column; margin-right: 200px; margin-top: 25px; margin-left: 2%; line-height: 1.8em; font-size: 0.9em; font-weight: 500;}

    .footertitles {font-weight: bold; line-height: 3em; font-size: 1em;}

    



