/* Suppression des marges par défaut */

body {margin : 0 0 0 0;}

/* Styles sur le nav */

nav {margin-left: 0px; max-width: 375px; min-width: 375px; height: 60px; margin-bottom: 85px;}

#logo {width: 95px; left: 27px; top: 20px}

#navbuttons {display: block;}

#subscribe {position: absolute; top: 10px; left: 290px;}

#accomodationnav {width: 186px; text-align: center; position: absolute; top: 85px; border-bottom: #f2f2f2 2px solid; margin: 0 0 0 0;
     padding: 0 0 10px 0;}

#activities {width: 187px; text-align: center; position: absolute; top: 85px; left: 187.5px; border-bottom: #f2f2f2 2px solid; 
    margin: 0 0 0 0; padding: 0 0 10px 0;}

#accomodationnav:hover, #activities:hover {border-top: none; border-bottom: #0065FC solid 2px; padding-bottom: 12px;}

/* Styles sur section1 */

    #section1 {max-width: 300px; margin-left: 25px; margin-bottom: 0px;}

    /* Styles sur la zone de recherche */

        #titleandcatchysentence {max-width: 280px; min-width: 280px; margin-bottom: 25px;}

        #maintitle {display: inline; line-height: 1.2em;}

        #catchysentence {display: block; font-size: 0.95em; margin-top: 10px;}

        input {width: 220px;}

        button {color: transparent; border-radius: 13px 13px 13px 13px; width: 42px; position: relative; right: 13px;}

        .fa-search {color: white; position: relative; top: 15px; right: 41px; font-size: 0.8em; font-weight: 400;}

        button:hover {color: transparent; background: #0065FC; border: 1px solid #0065FC}

        .fa-search:hover {color: black;}

        .fa-map-marker-alt {font-size: 0.9em; padding-top: 13px;}

    /* Styles sur la zone de filtre + point info*/    

        #filtersarea {margin-top: 25px; min-width: 328px; max-width: 328px;}

        .fa-money-bill-wave {position: absolute; top: 339px; left: 24px; z-index: 2;}

        #economic {position: relative; top: 43.5px; right: 25px;}

        .fa-child {position: absolute; top: 339px; left: 203px; z-index: 2;}

        #family {position: relative; top: 43.5px; left: 8px;}

        .fa-heart {position: absolute; top: 392px; left: 24px; z-index: 2;}

        #romantic {position: relative; top: 49.5px; left: 23px;}

        .fa-dog {position: absolute; top: 445px; left: 24px; z-index: 2;}

        #animals {position: relative; top: 102.5px; right: 121px;; display: inline-block;}

        .fa-info {margin-top: 95px;}

        #info {display: block; position: relative; bottom: 19px; left: 30px; width: 280px;}

/* Styles sur section2 */

    #section2 {display: flex; flex-direction: column-reverse; width: 375px; margin-left: 0px; margin-right: 0px;}

    /* Styles sur l'article Hébergements */

        #accomodationarticle {background-color: white; height: 1320px; margin-right: 0px; margin-top: 0px;
        margin-bottom: 35px; border-radius: 0 0 0 0;}  

        #accomodationtitle {margin-left: 20px; margin-top: 25px; margin-bottom: 20px;}

        #linephotos1 {display: flex; flex-direction: column; margin-bottom: 0px}

        #linephotos2 {display: flex; flex-direction: column; margin-bottom: 0px} 

        .framephoto {overflow: hidden; height: 115px; width: 360px;}

        #framephotoandtext1, #framephotoandtext4 {margin-left: 20px; margin-right: 20px; margin-bottom: 11px;}

        #photo1 {width: 355px; position: relative; bottom: 55px; right: 28px;}

        #photo4 {width: 340px; position: relative; bottom: 102px; right: 13px;}

        #framephotoandtext2, #framephotoandtext5 {margin-left: 20px; margin-right: 20px; margin-bottom: 11px;}

        #photo2 {width: 345px; position: relative; bottom: 60px; right: 15px;}

        #photo5 {width: 345px; position: relative; right: 10px; bottom: 50px;}

        #framephotoandtext3, #framephotoandtext6 {margin-left: 20px; margin-right: 20px; margin-bottom: 11px;}
        
        #photo3 {width: 340px; position: relative; bottom: 56px; right: 6px;}

        #photo6 {width: 335px; position: relative; bottom: 194px; right: 2px;}

        #more {display: block; margin-top: 20px; margin-left: 20px;}

    /* Styles sur l'aside Les plus populaires */

        #popular {background-color: #f2f2f2; min-width: 375px; max-width: 375px; border-radius: 0; height: 575px;}

        #titlepopular {margin-left: 20px; margin-top: 25px;}

        .frametext2 {line-height: 1.2em; height: 132px; width: 218px; font-size: 0.9em;}

        .hostelnames2 {position: relative; top: 10px;}

        .popularnight {position: relative; top: 18px; margin-bottom: 40px;}

        .fa-star {font-size: 11px;}

        .framephotopopular {height: 137px; width: 165px;}   

        #framephotoandtext7 {margin-right: 20px; margin-top: 20px; margin-left: 20px;}

        #framephotoandtext8 { margin-right: 20px; margin-top: 11px; margin-left: 20px;}

        #framephotoandtext9 {margin-right: 20px; margin-top: 11px; margin-left: 20px;}

/* Styles sur la section Activités */

    #section3 {height: 1290px; min-width: 375px; max-width: 375px; margin-bottom: 25px; margin-left: 0px; margin-right: 0px}

    #activitiestitle {margin-left: 20px;}

    #activitiesphotos {display: flex; flex-direction: column;}

    #photoactivity1 {width: 335px; position: relative; right: 0px; bottom: 15px;}

    #photoactivity4 {width: 335px; position: relative; right: 0px; bottom: 15px;}

    .framephotoact1and4 {width: 360px; height: 138px;}

    .framephotoandtextact1and4 {margin-right: 20px; margin-left: 20px; margin-bottom: 25px;}
   
    #photoactivity2 {width: 335px; position: relative; bottom: 155px;}

    #framephotoact2 {width: 360px; height: 138px;}

    #framephotoandtextact2 {margin-right: 20px; margin-left: 20px; margin-bottom: 25px;}

    #photoactivity3 {width: 335px; position: relative; bottom: 14px;}

    #framephotoact3 {width: 360px; height: 138px;}

    #framephotoandtextact3 {margin-right: 20px; margin-left: 20px; margin-bottom: 25px;}

    #photoactivity5 {width: 335px; position: relative; bottom: 11px;}

    #framephotoact5 {width: 360px; height: 138px;}

    #framephotoandtextact5 {margin-right: 20px; margin-left: 20px; margin-bottom: 25px;}

    #photoactivity6 {width: 335px; position: relative; bottom: 28px;}

    #framephotoact6 {width: 360px; height: 138px;}

    #framephotoandtextact6 {margin-right: 20px; margin-left: 20px; margin-bottom: 25px;}

/* Styles sur le footer */

    footer {flex-direction: column; min-width: 375px; max-width: 375px; height: 460px;}

    .footercolumns {margin-left: 20px; margin-right: 0px; margin-top: 25px;}